form .ng-pristine:not(.ng-dirty) {
  border-color: navy;
  box-shadow: 5px 5px 5px navy;
  margin-left: 10px;
  margin-right: 15px;
}
form .ng-dirty {
  border-color: green;
  box-shadow: 5px 5px 5px green;
  margin-left: 10px;
  margin-right: 15px;
}
form .ng-invalid:not(.ng-pristine) {
  border-color: red !important;
  box-shadow: 5px 5px 5px red !important;
  margin-left: 10px !important;
  margin-right: 15px;
  transform: scale(1.02) !important;
  transition: all linear 1s !important;
}
form .ng-invalid-parse {
  transition: all linear 1s;
}
